<button mat-raised-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu" class="mt-1">
  <button *ngIf="isRestaurateur()" mat-menu-item routerLink="/restaurant-panel">Panel Restauratora</button>
  <button *ngIf="isAdmin()" mat-menu-item routerLink="/admin-panel">Panel Administracyjny</button>

  <button *ngIf="!isLogged()" mat-menu-item (click)="loginDialog()">Logowanie</button>
  <button *ngIf="!isLogged()" mat-menu-item (click)="registerDialog()">Rejestracja</button>

  <button mat-menu-item routerLink="/home/map" routerLinkActive="link-active">Szukaj miejsc</button>
  <button *ngIf="isLogged()" mat-menu-item routerLink="/home/reservations" routerLinkActive="link-active">Moje
    rezerwacje</button>

  <button *ngIf="isLogged()" mat-menu-item (click)="logout()">Wyloguj</button>


</mat-menu>

<button mat-icon-button *ngIf="isLogged()">
  <mat-icon matBadge="{{arrNotifications.length}}" matBadgeColor="warn" [matMenuTriggerFor]="menu2">notifications</mat-icon>
</button>

<mat-menu #menu2="matMenu">
  <div *ngFor="let notification of arrNotifications">
    <mat-card *ngIf="notification.displayed === false" class="card">
      <mat-card-header>
        <button mat-icon-button>
          <mat-icon (click)="setAsDisplayed(notification.id)">clear</mat-icon>
        </button>
        <mat-card-title>
          <span>{{notification.restaurant.name}} </span>
        </mat-card-title>
        <mat-card-subtitle>
          <p>Data otrzymania: {{notification.notificationDate | date:'dd/MM/yyyy'}}</p>
          <p>{{notification.restaurant.city}}, {{notification.restaurant.street}}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Data rezerwacji: {{notification.reservationDate | date:'dd/MM/yyyy'}}</p>
        <h6 id="acceptMessage" *ngIf="notification.reservationStatus === 'ACCEPTED'">
          Twoja rezerwacja została zakceptowana
        </h6>
        <h6 id="rejectMessage" *ngIf="notification.reservationStatus === 'REJECTED'">
          Twoja rezerwacja została odrzucona
        </h6>
      </mat-card-content>
      <!-- <mat-card-actions>
          <button mat-raised-button color="primary">Akceptuj</button>
          <button mat-raised-button color="warn">Odrzuć</button>
        </mat-card-actions> -->
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>
</mat-menu>
