<button mat-raised-button [matMenuTriggerFor]="navigationMenu">Menu</button>
<mat-menu #navigationMenu class="mt-1">
  <button *ngIf="isRestaurateur()" mat-menu-item routerLink="/restaurant-panel">Panel Restauratora</button>
  <button *ngIf="isAdmin()" mat-menu-item routerLink="/admin-panel">Panel Administracyjny</button>

  <button *ngIf="!isLogged()" mat-menu-item (click)="loginDialog()">Logowanie</button>
  <button *ngIf="!isLogged()" mat-menu-item (click)="registerDialog()">Rejestracja</button>

  <button mat-menu-item routerLink="/home/map" routerLinkActive="link-active">Szukaj miejsc</button>
  <button *ngIf="isLogged()" mat-menu-item routerLink="/home/reservations" routerLinkActive="link-active">Moje
    rezerwacje</button>

  <button *ngIf="isLogged()" mat-menu-item (click)="logout()">Wyloguj</button>


</mat-menu>

<button mat-icon-button *ngIf="isLogged()">
  <mat-icon matBadge="{{notificationsCount}}" matBadgeColor="warn" [matMenuTriggerFor]="notificationMenu">notifications</mat-icon>
</button>

<mat-menu #notificationMenu>
  <app-reservation-notifications *ngIf="isLogged()" (notificationReaded)="handleNotificationReaded($event)"></app-reservation-notifications>
</mat-menu>
