<app-nav-bar></app-nav-bar>
<app-side-nav [isOpen]="isOpen"></app-side-nav>

<div class="center">

  <div class="row">
    <div class="input">
      <input class="form-control" [(ngModel)]="userQuery" placeholder="Wyszukaj miejsce">
    </div>
    <div class="icon">
      <button mat-icon-button (click)="findVenues()">
        <fa-icon class="fa-lg" icon="search"></fa-icon>
      </button>
    </div>
    <div class="icon">
      <button mat-icon-button (click)="sidenavToggle()">
        <fa-icon class="fa-lg" icon="wrench"></fa-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="14">
      <agm-marker [iconUrl]="{url:customerMapIcon, labelOrigin:{x:15,y:-8}}" [latitude]="latitude" [longitude]="longitude" [label]="customerLabel">
        <agm-info-window>
          Tu jesteś
        </agm-info-window>
      </agm-marker>
      <span *ngIf="arrVenues">
        <agm-marker *ngFor="let venue of arrVenues" [iconUrl]="{url:shopMapIcon, labelOrigin:{x:15,y:-8}}" [latitude]="venue.location.lat"
          [longitude]="venue.location.lng" [label]="venue.name">
          <agm-info-window>
            <p><b>{{venue.name}}</b></p>
            Adres: {{venue.location.address}}<br>
            Miasto: {{venue.location.city}}<br>
            Kraj:{{venue.location.country}}
          </agm-info-window>
        </agm-marker>
      </span>
    </agm-map>
  </div>
</div>
