.center {
  margin: auto;

    .input-row-container {
      background-color: rgba(92, 92, 92, 0.356);
    }

    .input {
      width: 80%;
      margin: 20px;
    }
    .icon {
      margin: auto;
    }
    agm-map {
      height: 500px;
      width: 100%;
    }
}

.info-content {
  color: black !important;
}

.bold {
  font-weight: bold;
}

.mat-raised-button[disabled] {
  border: 1px solid  #1b1b1b;
  background-color: #302f2f;
  color: #d1d1d1;
}

.tooltip-reservation {
  font-size: 0.8rem;
  background-color: #b71c1c;
}
