<div class="container center mt-5 mat-elevation-z10">

  <div class="row input-row-container">
    <mat-form-field class="input">
      <input matInput placeholder="Wyszukaj" [(ngModel)]="userQuery">
    </mat-form-field>
    <div class="icon">
      <button mat-icon-button (click)="findVenues()" [disabled]="!userQuery.length" color="primary">
        <fa-icon class="fa-lg" icon="search"></fa-icon>
      </button>
    </div>
    <div class="icon">
      <button mat-icon-button (click)="sidenavToggle()" color="primary">
        <fa-icon class="fa-lg" icon="wrench"></fa-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <agm-map [latitude]="selectedUserLocation.lat" [longitude]="selectedUserLocation.lng" [zoom]="selectedUserLocation.zoom">
      <agm-marker [iconUrl]="{url:customerMapIcon, labelOrigin:{x:15,y:-8}}" [latitude]="selectedUserLocation.lat"
        [longitude]="selectedUserLocation.lng" [label]="customerLabel">
        <agm-info-window>
          <p class="info-content bold">Tu jesteś</p>
        </agm-info-window>
      </agm-marker>
      <span *ngIf="arrVenues">
        <agm-marker *ngFor="let venue of arrVenues" [iconUrl]="{url:getIcon(venue.isRegistered), labelOrigin:{x:15,y:-8}}"
          [latitude]="venue.location.lat" [longitude]="venue.location.lng" [label]="venue.name">
          <agm-info-window>
            <p class="info-content bold">{{venue.name}}</p>
            <p class="info-content" *ngIf="venue.location.address">Adres: {{venue.location.address}}</p>
            <p class="info-content" *ngIf="venue.location.city">Miasto: {{venue.location.city}}</p>
            <p class="info-content" *ngIf="venue.location.country">Kraj:{{venue.location.country}}</p>
            <button mat-raised-button color="primary" *ngIf="venue.isRegistered" (click)="isLogged() && reservationDialog(venue.id)"
              matTooltip="Zaloguj się aby dokonać rezerwacji"
              matTooltipClass="tooltip-reservation"
              matTooltipDisabled="!isLogged()">Rezerwacja</button>
          </agm-info-window>
        </agm-marker>
      </span>
    </agm-map>
  </div>
</div>
