.center {
  margin: auto;
  margin-top: 100px;
  display: block;
  background-color: rgba($color: #706969, $alpha: 0.5);
  padding-left: 15px;
  padding-right: 15px;

    .input {
      width: 80%;
      margin: 20px;
    }
    .icon {
      margin: auto;
      color: white;
    }
    agm-map
    {
      height: 500px;
      width: 100%;
    }
}
