<app-nav-bar></app-nav-bar>
<!--<app-side-nav [isOpen]="isOpen"></app-side-nav>-->

<!-- <div class="center"> -->

<!-- <div class="row">
    <div class="input">
      <input class="form-control" placeholder="Wyszukaj miejsce">
    </div>
    <div class="icon">
      <fa-icon class="fa-lg" [icon]="faSearch"></fa-icon>
    </div>
    <div class="icon">
        <button mat-icon-button (click)="sidenavToggle()">
      <fa-icon class="fa-lg" [icon]="faWrench"></fa-icon>
        </button>
    </div>
  </div>
</div> -->
