<form [formGroup]="registerForm" (ngSubmit)="register()">
  <mat-form-field>
    <input matInput type="text" id="login" formControlName="login" placeholder="Login">
    <mat-error *ngIf="registerForm.controls['login'].hasError('required')">
      Login jest <strong>wymagany</strong>
    </mat-error>
    <mat-error *ngIf="registerForm.controls['login'].hasError('minlength')">
      Login jest <strong>za krótki</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="password" formControlName="password" placeholder="Hasło" [type]="hidingPassword ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hidingPassword = !hidingPassword">{{hidingPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
      Hasło jest <strong>wymagane</strong>
    </mat-error>
    <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
      Hasło jest <strong>za krótkie</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="passwordConfirm" formControlName="passwordConfirm" placeholder="Potwierdź hasło"
      compare="password" [type]="hidingPasswordConfirm ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hidingPasswordConfirm= !hidingPasswordConfirm">{{hidingPasswordConfirm ?
      'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="registerForm.controls['passwordConfirm'].hasError">
      Hasła muszą być <strong>takie same</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
      Email jest <strong>wymagany</strong>
    </mat-error>
    <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
      Podaj <strong>poprawny</strong> adres email
    </mat-error>
  </mat-form-field>
  <mat-radio-group formControlName="userType">
    <mat-radio-button value="RESTAURATEUR">Restaurator</mat-radio-button>
    <mat-radio-button value="CLIENT">Klient restauracji</mat-radio-button>
  </mat-radio-group>
  <div class="text-center mt-2 pb-0">
    <button mat-raised-button type="submit" color="primary">Zarejestruj się</button>
  </div>
</form>
