<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
    <mat-card>
      <app-assign-restaurant (onRestaurantAssigned)="onRestaurantAssigned($event)" *ngIf="contentLoaded && noAssignedRestaurant"></app-assign-restaurant>
      <app-my-restaurant *ngIf="contentLoaded && !noAssignedRestaurant" [restaurantDetails]="myRestaurant" (onUnassign)="onRestaurantUnassigned()"></app-my-restaurant>

      <div *ngIf="!contentLoaded">
        <mat-spinner class="mx-auto"></mat-spinner>
      </div>

      <div class="text-center">
        <label *ngIf="unknownError" class="mat-error">Błąd serwera</label>
      </div>

    </mat-card>
  </div>
</div>
