<div class="container mt-5 mat-elevation-z10">
  <div class="row">
    <div class="col-12">
      <mat-accordion *ngIf=arrReservations>
        <mat-expansion-panel *ngFor="let reservation of arrReservations">
          <mat-expansion-panel-header>
            <mat-panel-title class="row">
              <div class="col">
                <h4>
                  <span *ngIf="reservation.status === 'ACCEPTED'" class="badge badge-pill badge-success">Akceptowano</span>
                  <span *ngIf="reservation.status === 'REJECTED'" class="badge badge-pill badge-danger">Anulowano</span>
                </h4>
              </div>
              <div class="col">
                {{reservation.restaurant.name}}
              </div>
            </mat-panel-title>
            <mat-panel-description class="row">
              <div class="col">
                {{reservation.restaurant.location.city}}, {{reservation.restaurant.location.street}}
              </div>
              <div class="col">
                {{reservation.reservationDateTime | date:'dd/MM/yyyy'}}
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <p>Wiadomość od restauratora:</p> {{reservation.message}}
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div *ngIf=!arrReservations>Brak rezerwacji</div>
    </div>
  </div>
</div>
