<div class="container mt-5">

  <div class="row">
    <div class="col-12" *ngIf="arrReservations && !!arrReservations.length; else reservationsNotExist">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let reservation of arrReservations" [disabled]="!reservation.notifications.length">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="d-inline-block badge badge-pill p-2 {{getReservationStatusMessage(reservation.status).class}}">
                {{getReservationStatusMessage(reservation.status).message}}
              </span>
              <span class="d-inline-block ml-5">
                {{reservation.restaurant.name}}
              </span>
            </mat-panel-title>
            <mat-panel-description>
              <span class="d-inline-block">
                {{reservation.restaurant?.city}}, {{reservation.restaurant?.street}}
              </span>
              <span class="d-inline-block ml-4">
                {{reservation.reservationDateTime | date:'dd/MM/yyyy HH:mm'}}
              </span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>
            <p>Powiadomienia: </p>
            <ol>
              <li *ngFor="let reservationNotification of reservation.notifications">
                {{reservationNotification.message}}
              </li>
            </ol>
          </div>

        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>
</div>
<ng-template #reservationsNotExist>
  <div class="container layout-container">
    <div class="row p-2 m-2">
      <div class="col-12 mat-h1">Brak rezerwacji</div>
    </div>
  </div>
</ng-template>
