<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened={{isOpen}}>

    <p>Kategorie</p>
    <mat-button-toggle-group class="row" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="Kategoria1">Kategoria 1</mat-button-toggle>
      <mat-button-toggle value="Kategoria2">Kategoria 2</mat-button-toggle>
      <mat-button-toggle value="Kategoria3">Kategoria 3</mat-button-toggle>
      <mat-button-toggle value="Kategoria4">Kategoria 4</mat-button-toggle>
      <mat-button-toggle value="Kategoria5">Kategoria 5</mat-button-toggle>
      <mat-button-toggle value="Kategoria6">Kategoria 6</mat-button-toggle>
    </mat-button-toggle-group>

    <p>Lokalizacja</p>
    <mat-radio-group class="row">
      <mat-radio-button #radbutt1 class="col" value="1">Moja lokalizacja</mat-radio-button>
      <mat-radio-button #radbutt2 class="col" value="2">Wybierz lokalizację</mat-radio-button>
      <div *ngIf="checkrad(radbutt1)" class="col-12">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
      </div>

      <div class="col-12"></div>
      <mat-form-field *ngIf="checkrad(radbutt2)" class="example-full-width col-10">
        <input matInput placeholder="Podaj lokalizację">
      </mat-form-field>
    </mat-radio-group>

  </mat-sidenav>
  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container>
