@import 'variables';

mat-sidenav-container {
  width: 25%;
  position: absolute;
  background: none;
  height: 100%;

  mat-sidenav {
    width: 80%;
    background-color: rgba($sidenav-bg-color, .9);
    text-align: center;
  }
}

p {
  font-size: 20px;
}

.mat-button-toggle {
  background-color: rgba(0, 0, 0, 0.081);
  border: 2px;
  border-style: solid;
  margin: 4px;
  border-color: rgba(0, 0, 0, 0.068);
}

.mat-button-toggle-checked {
  background-color: rgba(255, 52, 147, 0.753);
  border-style: inset;
  border-color: white;
}

mat-radio-group {
  margin-left: 5px;
  margin-right: 5px;
}

agm-map {
  width: 98%;
  height: 300px;
  margin-top: 20px;
}
mat-button-toggle-group {
  margin: 10px;
  border: 0;
}
