@import '~@angular/material/theming';
@import 'variables';
@import '~ngx-toastr/toastr.css';

@include mat-core();
@include angular-material-theme($darkTheme);

$bg-color: #424242;

html, body {
  height: 100%;
}

.layout-container {
  @include mat-elevation(5);
  background-color: lighten($bg-color, 10%);
}
