@import "~@angular/material/prebuilt-themes/purple-green.css";
@import '~@angular/material/theming';
@import '~ngx-toastr/toastr.css';

$bg-color: #424242;

html, body {
  height: 100%;
}

.layout-container {
  @include mat-elevation(5);
  background-color: lighten($bg-color, 20%);
}
