@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import '~@angular/material/theming';

$bg-color: #424242;

html, body {
  height: 100%;
}

.layout-container {
  @include mat-elevation(5);
  background-color: lighten($bg-color, 20%);
}
