.list-item-selected {
  background-color: rgba(9, 0, 255, 0.57);
  color: white;
}

.list-item-not-selected {
  background-color: white;
  color: black;
}

.button-row button {
  margin: 5px 2px;
}

mat-form-field {
  min-width: 300px;
}
