<div class="container mt-4 p-4">
  <div class="row">
    <div class="col-12">
      <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Wyszukaj swoją restauracje</ng-template>

            <div class="text-center">
              <mat-form-field>
                <input matInput placeholder="Nazwa restauracji" formControlName="restaurantName" required>
              </mat-form-field>
            </div>
            <div class="text-center">
              <mat-form-field>
                <input matInput placeholder="Miasto" formControlName="city" required>
              </mat-form-field>
            </div>
            <div class="text-center">
              <button mat-button matStepperNext (click)="searchForRestaurants()" [disabled]="firstFormGroup.invalid">Dalej</button>
            </div>

          </form>
        </mat-step>
        <mat-step [completed]="selectedRestaurant?.foursquareId">
          <ng-template matStepLabel>Wybierz restauracje</ng-template>

          <div class="text-center button-row">
            <button mat-button matStepperPrevious>Wróć</button>
            <button mat-raised-button color="primary" matStepperNext [disabled]="!selectedRestaurant?.foursquareId">Przypisz</button>
          </div>

          <div *ngIf="listIsEmpty" class="text-center">
            <span class="mat-error" style="font-size: 0.6rem">Nie znaleziono wyników, wróć i spróbuj ponownie</span>
          </div>

          <div *ngIf="listIsLoading">
            <mat-spinner class="mx-auto"></mat-spinner>
          </div>

          <div *ngIf="!listIsLoading">
            <mat-action-list #venues>
              <div *ngFor="let venue of foundVenues">
                <button mat-list-item (click)="selectedRestaurant = venue"
                [ngClass]="{'list-item-selected': selectedRestaurant?.foursquareId===venue.foursquareId,
                  'list-item-not-selected': selectedRestaurant?.foursquareId!==venue.foursquareId}">
                  <b>{{venue?.name}}</b>&nbsp;{{venue?.location?.city}}@{{venue?.location?.address}}
                </button>
              </div>

            </mat-action-list>
          </div>

        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div class="text-center">
            <h1 class="mat-h1 font-weight-bold">
              Wybrałeś restauracje: {{selectedRestaurant?.name}}
            </h1>
            <p class="mat-h3">Adres: {{selectedRestaurant?.location?.address}}</p>
            <p class="mat-h3">Miasto: {{selectedRestaurant?.location?.city}}</p>
          </div>

          <div class="text-center button-row">
            <button mat-button matStepperPrevious>Wróć</button>
            <button mat-raised-button color="primary" (click)="assign()">Potwierdź</button>
            <button mat-stroked-button color="warn" (click)="stepper.reset()">Resetuj formularz</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
